@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
html,
body {
  font-family: "Rammetto One", cursive;
  margin: 0;
  height: 100%;
  background: #fee7e8;
}

.container {
  height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  font-size: 160px;
  line-height: 0.9em;
  font-weight: 900;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffb1c5;
}

.small-text {
  font-size: 80px;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
